# Google Gemini AI Config (Opcional se usar OpenRouter)
GEMINI_API_KEY=
GEMINI_MODEL=gemini-3.7-flash

# OpenRouter AI Config (Suporte a Modelos Gratuitos e Comerciais)
OPENROUTER_API_KEY=
OPENROUTER_MODEL=google/gemma-4-31b-it:free

# Limite de Upload em Megabytes (Padrão 25MB para Cloud Run/Proxy, pode ser aumentado para 500MB ou mais localmente)
MAX_UPLOAD_SIZE_MB=25
